@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&display=swap');

@font-face {
    font-family: "Avenir";
    src: url("../Woorkroomfonts/AvenirMedium/AvenirMedium.ttf") format("ttf");
}


/* Start base */

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: 'Inherit';
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
*, *::before, *::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

body {
    font-family: 'Rosario';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: rgba(34, 34, 34, 1);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;  
}

/* End base */

.body_wrapper {
    max-width: 1420px;
    margin: 0 auto;
    padding: 20px;
    background-color: #F4F9FD;
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 30px;
}
.colomnsidebar {
    font-family: 'Avenir';
    font-size: 35px;
    background-color: #fff;
    border-radius: 24px;
    padding: 16px;
    min-height: 890px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  
}
.colomnsidebar_logo {
    margin-top: 24px;
    margin-left: 8px;
    margin-bottom: 26px;
}
.colomnsidebar_nav {
    margin-top: 60px;
} 
.colomnsidebar_nav-item {
    position: relative;
}
.colomnsidebar_nav-link-line, .colomnsidebar_nav-link-line2 {
    display: none;
}
.colomnsidebar_nav-link:active + .colomnsidebar_nav-link-line {
    display: block;
    position: absolute;
    left: 181px;
    top: 1px;
}
.colomnsidebar_nav-link:active + .colomnsidebar_nav-link-line2 {
    display: block;
    position: absolute;
    left: 181px;
    top: 1px;
}
.colomnsidebar_nav-link:active  {
    font-weight: 700;
    color: #3F8CFF;
    background-color: #F4F9FD;
    border-radius: 10px;
    min-height: 44px;
    min-width: 172px;
    margin-top: -10px;
    margin-bottom: -10px;
}
.csb_nav-link2:active {
    margin-top: 16px;
}
.colomnsidebar_nav-link {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #7D8592;
    margin-top: 26px;  
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.colomnsidebar_nav-icon {
    margin-right: 13px;
    margin-left: 7px;
}
.colomnsidebar_support_picture {
    position: relative;
    margin-bottom: 35px;
}
.colomnsidebar-form__submit {
    margin-left: -8px;
}
.colomnsidebar-form {
    position: absolute;
    top: 140px;
    left: 20px;
}
.colomnsidebar-form__info-icon-support {
    margin-right: 7px;
    margin-left: 0px;
}
.colomnsidebar-form-lg__logout {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #7D8592;
    border: 0;
    background-color: transparent;
    margin-left: 5px;
    margin-bottom: 27px;
}
.colomnsidebar-form-lg__logout:hover {
    font-size: 17px;
}
.colomnsidebar-form-lg__info-icon-logout {
    margin-right: 12px;
}
.colomnsidebar-form-lg__logout:hover ~ .colomnsidebar-form-lg__info-icon-logout {
    width: 32px;
    height: auto;
}
.main_top {
    font-family: 'Nunito';
    font-size: 25px;
    padding-bottom: 51px;
    display: flex;
    justify-content: space-between;
}
.main_top__search-form__field {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #7D8592;
    border-radius: 14px;
    border: 0;
    width: 30vw;
    height: 48px;
    background: url(./Woorkroomsvg/main_top__search.svg) no-repeat center left #FFFFFF;
    background-position: 19px;
    padding-left: 54px;
}
.button_white {
    border-radius: 14px;
    border: 0;
    background-color: #FFFFFF;
    padding: 12px;
}
.button_white:hover {
    outline: 1.5px solid #3F8CFF;
}
.main_top__right-button-icon {
    margin-right: 24px;
}
.main_top__right {
    display: flex;
    justify-content: space-between;
}
.main_top__right_dropbtn {
    background-color: #FFFFFF;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #0A1629;
    padding: 7px;
    border: none;
    border-radius: 14px;
}
.main_top__right_photo {
    padding-left: 5px;
    padding-right: 5px;
}
.down_arrow {
    padding-left: 10px;
    padding-right: 10px;
}
.main_top__right-dropdown {
    position: relative;
    display: inline-block;
}
.main_top__right-dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 150px;
    z-index: 1;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #0A1629;
    border-radius: 14px;
    margin-top: 8px;    
}
.main_top__right-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
} 
.main_top__right-dropdown-content a:hover {
    background-color: #E6EDF5;
}  
.main_top__right-dropdown:hover .main_top__right-dropdown-content {
    display: block;
}  
.main_top__right-dropdown:hover .main_top__right_dropbtn {
    background-color: #3F8CFF;
}
.main_pagetitle {
    display: flex;
    justify-content: space-between;
}
.main_pagetitle-name {
    padding-bottom: 28px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: #0A1629;
}
.button-blue {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    background-color: #3F8CFF;
    border-radius: 14px;
    border: 0;
    padding: 13px 22px;  
    box-shadow: 0px 6px 12px rgba(63, 140, 255, 0.263686);
}   
.button-blue:hover {
    background-color: #287cf8;
    box-shadow: 2px 8px 14px rgba(63, 140, 255, 0.263686);
}     
.main_colomnbase {
    display: grid;
    grid-template-columns: 265px 1fr;
    gap: 30px;
}
.main_colomnbase__left {
    background-color: #fff;
    border-radius: 24px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #0A1629;
    min-height: 715px;
    padding: 24px;  
}
.main_colomnbase__left-top {
    margin-bottom: 10px;
}
.main_colomnbase__left-nav-li {
    position: relative;
}
.main_colomnbase__left-nav-li:active {
    font-weight: 700;
    color: #3F8CFF;
    background-color: #F4F9FD;
    border-radius: 10px;
    min-height: 100px;
    min-width: 245px;
    padding: 14px 14px 14px 16px;
    margin-top: -14px;
    margin-left: -16px;
    margin-bottom: 16px;
}
.main_colomnbase__left-nav-li:active[aria-current="true"] + .main_colomnbase__left-nav-li::after {
    content: "";
    position: absolute;
    top: -143px;
    left: 236px;
    width: 0.25rem;
    height: calc(1vh);
    background-color: #ff3f82;
    border-radius: 6px;
}

.main_colomnbase-line {
    margin-left: -24px;
    min-width: 265px;
    padding: 0px;
}
.main_colomnbase__left-nav {
    margin-top: 22px;
}
.main_colomnbase__left-nav-ul {
    gap: 30px;
    position: relative;
}
.main_colomnbase__left-nav-code {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #91929E;
    margin-bottom: 4px;
}
.main_colomnbase__left-nav-title {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0A1629;
    margin-bottom: 30px;
}
.main_colomnbase__left-nav-active {
    display: none;
}
.main_colomnbase__left-nav-item:active + .main_colomnbase__left-nav-active {
    display: block;
    position: absolute;
    left: 252px;
    top: 1px;
}
.main_colomnbase__left-nav-item:active .main_colomnbase__left-nav-title {
    font-weight: 700;
}
.main_colomnbase__left-nav-active-details {
    display: none;
}
.main_colomnbase__left-nav-item:active ~ .main_colomnbase__left-nav-active-details {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #3F8CFF;
    display: block;
    margin-top: -20px;
}
.main_colomnbase__right-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.main_colomnbase__right-top-tasks {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: #0A1629;
    padding-left: 10px;
}
.main_colomnbase__right-top-lists {
    border: #3F8CFF solid;  
}
.main_colomnbase__right-top-lists, .main_colomnbase__right-top-board {
    margin-right: 16px;
}
.blocktitle {
    background-color: #E6EDF5;
    border-radius: 14px;
    border: 0;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #0A1629;
    padding: 9px;
    margin-top: 24px;
    margin-bottom: 20px;
}
.arrow_low, .arrow_up {
    margin-left: -7px;
}
.arrow_up {

}
.main_colomnbase__right-cardtask-button_progress {
    display: flex;
    align-items: center;
}
.main_colomnbase__right-cardtask-timelinecir—Åle {
    display: block;
    align-self: center;
}

.main_colomnbase__right-cardtask {
    display: grid;
    grid-template-columns: 235px 1fr;
}
.cardtask {
    background-color: #FFFFFF;
    border-radius: 14px;
    border: 0;
    padding: 22px 34px 22px 30px;
    margin-bottom: 16px;
}
.main_colomnbase__right-cardtask-name {
   /* min-width: 235px;*/
   display: flex;
   justify-content: space-between;
}
.main_colomnbase__right-cardtask-name-ul {
    margin-left: 4px;
}
.main_colomnbase__right-cardtask-main {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.main_colomnbase__right-cardtask-status-ul {
    display: flex;
    gap: 43px;
}
.main_colomnbase__right-cardtask-title {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #91929E;
    margin-bottom: 4px;
}

.main_colomnbase__right-cardtask-name_p {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0A1629;
}
.priority_status_medium {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FFBD21;
}
.priority_status_low {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #0AC947;
}
.button_done {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #00D097;
    background: #E0F9F2;
    border-radius: 8px;
    border: 0;
    padding: 7px 15px;
}
.button_todo {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #7D8592;
    background: rgba(125, 133, 146, 0.14);
    border-radius: 8px;
    border: 0;
    padding: 7px 15px;
}
.button_inprogress {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #3F8CFF;
    background: rgba(63, 140, 255, 0.119919);
    border-radius: 8px;
    border: 0;
    padding: 7px 15px;
}
.button_inreview {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #C418E6;
    background: rgba(196, 24, 230, 0.11);
    border-radius: 8px;
    border: 0;
    padding: 7px 15px;
}
.main_colomnbase__right-cardtask_backlog {
    display: grid;
    grid-template-columns: 340px 1fr;
}